body, html{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #e1eff6;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas{
  margin: 0 auto;
}

.gameInfo{
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: 'Arial';
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;      
}

.gameInfo__main{
  position: absolute;
  font-size: 23px;
}

.gameInfo__score{
  position: absolute;
  bottom: 20px;
  font-size: 14px;
}

.snakeBox{
  display: flex;
  margin: 100px auto;
  padding: 6px;
  box-sizing: border-box;
  background: #83bcff;
  border-radius: 11px;
  position: relative;
}